@import "tailwindcss";
@plugin "daisyui";

@plugin "daisyui/theme" {
  name: winamp98-dark;
  prefersdark: true;
  color-scheme: dark;

  --color-base-100: #202020;
  --color-base-200: #181818;
  --color-base-300: #101010;
  --color-base-content: #e0e0e0;

  --color-primary: #008080;
  --color-primary-content: #ffffff;

  --color-secondary: #404040;
  --color-secondary-content: #e0e0e0;

  --color-accent: #00cc00;        /* slightly muted green for dark mode */
  --color-accent-content: #000000;

  --color-neutral: #404040;
  --color-neutral-content: #e0e0e0;

  --color-info: #0000c0;
  --color-success: #006600;
  --color-warning: #666600;
  --color-error: #660000;

  --radius-field: 0.12rem;
  --radius-box: 0.12rem;
  --radius-selector: 0.12rem;

  --border: 1px;
  --depth: 1;
}

@plugin "daisyui/theme" {
  name: winamp98-light;
  default: true;
  color-scheme: light;

  --color-base-100: #dfdfdf;
  --color-base-200: #c0c0c0;
  --color-base-300: #a0a0a0;
  --color-base-content: #000000;

  --color-primary: #008080;
  --color-primary-content: #ffffff;

  --color-secondary: #c0c0c0;
  --color-secondary-content: #000000;

  --color-accent: #00ff00;        /* classic Winamp-ish bright green */
  --color-accent-content: #000000;

  --color-neutral: #808080;
  --color-neutral-content: #ffffff;

  --color-info: #000080;
  --color-success: #008000;
  --color-warning: #808000;
  --color-error: #800000;

  --radius-field: 0.12rem;
  --radius-box: 0.12rem;
  --radius-selector: 0.12rem;

  --border: 1px;
  --depth: 1;
}

/* Apply to body in base layer */
@layer base {
    html {
        @apply scroll-smooth;
        scrollbar-gutter: stable;        
    }

    body {
        /* @apply min-h-screen bg-slate-50 text-black dark:bg-black dark:text-white; */
        @apply min-h-screen;
        /* @apply min-h-screen dark:bg-black dark:text-green-400; */
        scrollbar-gutter: stable;
    }
}